<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <!-- Core CSS bundle -->
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/responsive.css" />
  </styleBundle>

  <!-- Core JS bundle -->
  <scriptBundle path="~/bundles/sciencebuddy">
    <include path="~/Scripts/site.js" />
    <include path="~/Scripts/validation.js" />
    <include path="~/Scripts/modal.js" />
  </scriptBundle>
</bundles>
